# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Credentials — NEVER commit these
profiles.yml
.env
*.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store

dbt_project/ingestion/*.csv
dbt_project/ingestion/*.csv.gz